/*
text-decoration: underline , line-through, overline
text-transform: uppercase, lowercase, capitalize
font-style: italic > i
font-weight: 100:900 (normal, bold, bolder) b
font-size: (value)px
text-shadow: x y blur color
*/

/* 
Text Color: 
  1- Color Name
  2- HEX Color (0123456789 abcdef) (12 34 56)
  3- Red, Green Blue rgb(0 > 255, 0 > 255, 0 > 255)
  4- HSL hsl(50, 50%, 1%)
Background Color:
*/

/* 
Dimentions
  Width 480px > 1300px
  Height

  1rem = 16px
  h1 = 32px
*/

/* 
Display
  Block
  Inline
  Inline-block
  Inline-flex

  Flex
  Grid
*/

/* 
Spacing
  Margin
  Padding
  Border
*/

body {
  background-color: rgb(64, 52, 31);
}

.flex {
  display: inline-flex;
}

.a {
  width: 200px;
  height: 200px;
  background-color: #264570;
  border-radius: 50px;
  margin-bottom: 20px;
}

