/*
text-decoration: underline , line-through, overline
text-transform: uppercase, lowercase, capitalize
font-style: italic > i
font-weight: 100:900 (normal, bold, bolder) b
font-size: (value)px
text-shadow: x y blur color
*/

/* 
Text Color: 
  1- Color Name
  2- HEX Color (0123456789 abcdef) (12 34 56)
  3- Red, Green Blue rgb(0 > 255, 0 > 255, 0 > 255)
  4- HSL hsl(50, 50%, 1%)
Background Color:
*/

/* 
Dimentions
  Width 480px > 1300px
  Height

  1rem = 16px
  h1 = 32px
*/

/* 
Display
  Block
  Inline
  Inline-block
  Inline-flex

  Flex
  Grid
*/

/* 
Spacing
  Margin  > top, right, bottom, left
  Padding > top, right, bottom, left
  Border  > width style color
  Border  > -top,right,bottom,left

  Border Radius  > الحواف الدائرية
    border-top-left-radius
    border-top-right-radius
    border-bottom-left-radius
    border-bottom-right-radius
*/

/* Position
    Parent > relative (to contain all inside)

    Child > Relative  قريب و يتحرك بالقرب من الأب
          > Absolute حر ويتحرك فى أى ماكن
          > Fixed ثابت فى مكان يتم تحديده ولا يتحرك أبدا
          > Sticky ثابت فى مكانه حتى ينتهى البيرنت

*/

div.parent{
  height: 2000px;
  width: 300px;
  position: relative;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}


div.child{
  width: 100px;
  height: 100px;
  background-color: rgb(141, 26, 26);
  position: sticky;
  left: 20px;
  top: 50px;
}